.section_upper__footer {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    background-color: #fab917;
}

.text__upper__footer {
    text-align: center;
    margin: 0 auto;
    padding: 37px 0 33px;
    max-width: 962px;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .text__upper__footer {
        font-size: 20px;
        padding: 15px 0 10px;
    }
}


@media screen and (max-width: 420px) {
    .text__upper__footer {
        font-size: 14px;
        padding: 9px 0 6px;
    }
}
